@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    
    font-family: "Open Sans";
    font-size: 15px;
    color: #464646;
    
    background-color: #ffffff;
}

.header_menu {
    background-color: #f7e296;
}

.header_container {
    width: 1160px;
    margin: 0 auto;
   
}


.header_menu_page_2 {
    background-color: #f7e296;
}

.header-logo:hover {
    opacity: 0.6;
}

.header-logo:active {
    opacity: 0.3;
}

a {
    text-decoration: none;
}

.breadcrumbs a{
    color: #000000;
}

.breadcrumbs li {
    list-style: none;
}
    

.navigation_list a {
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3.4px
}

.navigation_list_page_2 a {
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3.4px
}

.navigation_list {
    list-style: none;
}

.navigation_list_page_2 {
    list-style: none;
}

.navigation_list a:hover,
.breadcrumbs_list a:hover {
    opacity: 0.6;
}

.navigation_list_2 a:hover {
    opacity: 0.6;
}

.navigation_list a:active,
.breadcrumbs_list a:active {
    opacity: 0.3;
}

.navigation_list_page_2 a:active{
    opacity: 0.3;
}


.carousel h1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    color: #000000;
    line-height: 57px;
    text-transform: none;
    letter-spacing: 0.47px;
}

.carousel p {
    font-family: "Open Sans" Arial, sans-serif;
    font-size: 15px;
    color: #464646;
    line-height: 30px;
    font-weight: normal;
}

.button {
  position: relative;
  display: inline-block;
  width: 260px;
  padding: 5px 0;
  border: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.6px;
  cursor: pointer;
    color: #000000;
}

.button::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
}


.table {
    width: 425px;
    height: 60px;
}

th {
    font-size: 36px;
    font-family: "Gilroy";
    font-weight: 400;
    padding-left: 80px;
}

td {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 400;
    padding-left: 80px;
    
}

.items_section_list li::before{
    max-width: 160px;
    height: 160px;
    content: "";
    display: block;
    
    background-color: #f7e296;
}

.item-1 {
    position: absolute;
    top: 840px;
    left: 350px;
    
}

.item-2 {
    position: absolute;
    top: 820px;
    left: 550px;
}

.item-3 {
    position: absolute;
    top: 820px;
    left: 740px;
}

.item-4 {
    position: absolute;
    top: 840px;
    left: 900px;
}

.item-5 {
    position: absolute;
    top: 820px;
    right: 510px;
}

.item-6 {
    position: absolute;
    top: 840px;
    right: 295px;
}


.items_section_list {
    list-style: none;
}

.items_section_list a{
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.benefits_section {
    background-color: #e5e5e5;
}

.benefits_information h2 {
    font-family: "Gilroy";
    font-size: 47px;
    font-weight: bold;
    color: #000000;
}

.benefits_information p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.parnters_section li{
    list-style: none;
}

.partners_item:first-child:hover {
    background-image: url("../img/logo-1.jpg%20.png");
    background-repeat: no-repeat;
}

.partners_item:nth-child(2):hover {
    background-image: url("../img/logo-3.jpg%20copy.png");
    background-repeat: no-repeat;
}

.partners_item:nth-child(3):hover {
    background-image: url("../img/logo-2.jpg%20copy.png");
    background-repeat: no-repeat;
}

.partners_item:nth-child(4):hover {
    background-image: url("../img/logo-4.jpg%20copy.png");
    background-repeat: no-repeat;
}



.info_about-us h2 {
    font-family: "Gilroy";
    font-size: 47px;
    font-weight: bold;
}

.info_about-us p {
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    letter-spacing: -0.6px;
}



.company_list li {
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    list-style: none;
}

.info_contacts h2 {
    font-family: "Gilroy";
    font-size: 47px;
    font-weight: bold;
}

.info_contacts p {
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.footer_menu {
    background-color: #464646;
    width: 100%;
}

.footer_menu p {
    font-family: "Open Sans";
    font-size: 15px;
    color: #ffffff;
}

.footer_navigation a {
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.footer_breadcrumbs a{
    font-family: "Open Sans";
    font-size: 15px;
    color: #ffffff;
}

.title_page h1 {
    font-family: "Gilroy";
    font-size: 47px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.47px;
    margin-left: 60px
}

.main-toolbar_list li {
    list-style: none;
    
    font-family: "Open Sans";
    font-size: 14px;
    color: #cacaca;
}

.main-toolbar_list  {
    margin-top: -9px;
    margin-left: 70px;
}

.main-toolbar_list a {
    color: #cacaca;
}

.main_section_toolbar h3 {
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 3.4px;
}

.main_section_filter_block {
    margin-top: -4px;
    padding-left: 62px;
}

.main_section_toolbar_list li {
    list-style: none;
}

.main_section_toolbar_titile {
    margin-top: -4px;
    margin-left: 2px;
    letter-spacing: 3.4px;
}


.main_section_toolbar_list a {
    
    font-family: "Open Sans";
    font-size: 14px;
    color: #cacaca;
}

.main_filters_section h3 {
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.main_section_item_list h3 {
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.main_section_item_list p {
    font-family: "Gilroy";
    font-size: 16px;
    color: #464646;
}

.item-hover {
    display: none;
}

.item-hover a:first-child {
    width: 200px;
    position: absolute;
    top: 241px;
    left: 81px;
    z-index: 5;
}

.item-hover a:last-child {
    position: absolute;
    top: 287px;
    left: 111px;
    z-index: 5;
}

.item-hover a:last-child {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 13px;
    line-height: 36px;
    opacity: 0.5;
}

.item-hover a: hover {
    opacity: 1;
}

.item-hover a:active {
    color: rgba(0, 0, 0, 0.2);
}




.movebar-menu {
    display: block;
    background-color: #ebebeb;
    width: 780px;
    height: 70px;
}

.movebar-menu li {
    list-style: none;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: bold;
    
}

.movebar-menu a {
    color: #000000;
}

.back_button  {
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.front_button {
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

/*Для сеток*/

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.header_menu {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.header_menu img {
    margin-left: 60px;
    margin-top: -30px
}

.header_menu_page_2 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.header_menu_page_2 img {
    margin-left: 60px;
    margin-top: -30px
}

.breadcrumbs {
    display: flex;
}

.breadcrumbs input {
    margin-top: 30px;
    margin-left: 95px
}

.breadcrumbs_list {
    display: flex;
    margin-top: 31px;
    margin-left: 295px;
}

.breadcrumbs_list li:nth-child(2) {
    margin-left: 239px;
}

.breadcrumbs_list li:nth-child(3) {
    margin-left: 65px;
}

.search-form::before {
    content: '';
    width: 20px;
    height: 20px;
    
    background-image: url(../img/svg-device/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    
    position: absolute;
    top: 86px;
    left: 344px
}

.search-form input {
    border: none;
    background-color: transparent;
    opacity: 0.3;
}

.search-form:hover {
    opacity: 0.6;
}

.search-field:focus {
    box-sizing: border-box;
    outline: none;
    opacity: 1;
    border-bottom: 2px solid black;
}
    

.breadcrumbs_item:first-child a::before  {
    background-image: url("../img/svg-device/user.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 766px;
    top: 88px;
}

.breadcrumbs_item:nth-child(2) a::before  {
    background-image: url("../img/svg-device/compare.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 484px;
    top: 89px;
}

.breadcrumbs_item:nth-child(3) a::before  {
    background-image: url("../img/svg-device/cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 351px;
    top: 88px;
}


.navigation_list {
    display: flex;
    margin-left: 20px;
    margin-bottom: 170px;
    margin-top: 32px;
}

.navigation_list_page_2 {
    display: flex;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 32px;
}

.navigation_list li:nth-child(2) {
    margin-left: 435px;
}

.navigation_list_page_2 li:nth-child(2) {
    margin-left: 435px;
}

.navigation_list li:nth-child(3) {
    margin-left: 33px;
}

.navigation_list_page_2 li:nth-child(3) {
    margin-left: 33px;
}

.navigation_list li:nth-child(4) {
    margin-left: 110px;
}

.navigation_list_page_2 li:nth-child(4) {
    margin-left: 110px;
}

.header_menu_page_2 .breadcrumbs input {
    margin-left: -280px;
    margin-top: -50px;
}


.carousel {
    display: flex;
}

.section_logo {
    margin-top: -135px;
    margin-left: 90px;
}

.section_container {
    margin-left: 125px;
    margin-top: -86px;
}

.section_container p {
    margin-top: -16px
    
}

.section_container a {
    margin-left: -20px;
    margin-top: 31px;
}

.section_container table {
    margin-left: -85px;
    margin-top: 57px
}

.space_container {
    display: flex;
    justify-content: space-between;
}

.items_section {
    margin-top: 105px;
}

.benefits_section {
    display: flex;
    margin-top: 190px;
}

.benefits_information {
    display: block;
    margin-left: 120px;
    margin-top: -70px
}

.benefits_information h2{
    margin-top: 62px;
    margin-left: -290px
}

.benefits_information p {
    margin-top: -10px;
}

.benefits_list a{
    padding-bottom: 40px;
}

.benefits_list {
    margin-top: -20px;
}

.parnters_section {
    margin-top: 200px;
}

.parnters_section a:first-child {
    margin-left: -40px;
}

.info_section {
    display: flex;
    margin-top: 100px;
    margin-bottom: 95px;
}

.info_contacts {
    margin-left: 140px;
}

.company_list li {
    padding: 11px
}

.company_list li:first-child {
    margin-left: 10px;
    margin-top: -30px
}

.company_list li:nth-child(2) {
    margin-left: 10px;
}

.company_list li:nth-child(3) {
    margin-top: -1px;
    margin-left: 10px;
}

.company_list  {
    margin-top: 80px;
    margin-left: -26px;
    margin-bottom: 60px;
}

.info_contacts h2 {
    margin-left: 20px;
    letter-spacing: 0.47px;
}

.info_contacts p {
    margin-left: 20px;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    
}

.footer_menu img {
    margin-top: 57px;
}



.footer_container_1 {
    display: flex;
}



.footer_breadcrumbs {
    display: flex;
    margin-left: 618px;
    margin-top: 62px
}

.footer_breadcrumbs li {
    padding-left: 40px;
}

.footer_breadcrumbs li:nth-child(2) {
    padding-left: 65px
}

.footer_breadcrumbs li:nth-child(3) {
    padding-left: 65px;
}

.footer_navigation {
    display: flex;
    margin-top: 22px;
    margin-bottom: 35px
}


.footer_navigation_list {
    display: flex;
    margin-left: 40px;

}

.footer_navigation_list ul {
    margin-left: -40px
}

.footer_navigation_list li {
    letter-spacing: 3.6px;
    padding-left: 40px; 
}
.footer_number {
    margin-left: 90px
}

.main-toolbar_list {
    display: flex;
}

.main_toolbar {
    margin-left: -45px;
    margin-top: 35px;
}

.main_toolbar li:nth-child(2) {
    padding-left: 40px;
}

.main_toolbar li:nth-child(3) {
    padding-left: 40px;
}

.main_section_filter_container {
    display: flex;
    margin-top: 50px;
}

.main_section_toolbar {
    display: flex;
    padding-left: 250px;
}

.main_section_filter_block {
    margin-left: -250px;
}


.main_section_toolbar ul  {
    display: flex;
    margin-left: -19px;
}

.main_section_toolbar li {
    padding-left: 30px;
}

.main_section_container {
    display: flex;
    margin-top: 65px;
}

.flex_column_1 {
    display: flex;
}

.item_2 {
    padding-left: 40px;
}

.flex_column_2 {
    display: flex;
    margin-top: 55px;
}

.item_4 {
    padding-left: 40px;
}

.main_section_item_list {
    margin-left: 100px;
}

.movebar-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 380px;
    margin-bottom: 70px;
    letter-spacing: 3.2px;
}

.back_button {
    padding-top: 25px;
    padding-left: 50px;
}

.movebar-menu_list {
    display: flex;
    padding-top: 11px;
    margin-left: -56px
}

.movebar-menu_list li {
    padding-left: 30px
}

.front_button {
    padding-top: 25px;
    padding-right: 25px;
}

.footer_social_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-left: 20px;
    margin-bottom: 100px;
}

.social-button {
    display: flex;
    width: 32px;
    padding: 0 11px;
    height: 32px;
    opacity: 0.3;
}

.social-button:hover {
    opacity: 0.6;
}

.social-button-fb {
    background-image: url("../img/svg-device/fb.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-button-insta {
    background-image: url("../img/svg-device/instagram.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-button-tw {
    background-image: url("../img/svg-device/twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
}
